/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: black;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: black
}
.container {
  position:relative;
  width:50%;
  min-width:700px; 
  height:670px;
  top: 90px;
  bottom:70px;
}

.container .titolo {
  top:10%;
  left:200px;
  position:absolute;
  text-align: center;
  color:black;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: -1px 0 rgb(7, 231, 37), 0 1px rgb(7, 231, 37), 1px 0 rgb(7, 231, 37), 0 -1px rgb(7, 231, 37);
}

.container img {
  width: 100%;
  min-height: 300px;
  max-height: 600px;
}



.container .btn1 {
  position:absolute;
  text-align: center;
  font-size: 20px;
  background-color:rgb(7, 231, 37);
  border: 3px solid rgb(7, 231, 37);
  border-radius: 3px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: "color:#191919";
  display: inline-block;
  top:38%;
  left:38%;
  padding: 15px 27px;

 
}

.container .btn1:hover {
  background-color: rgb(142, 247, 94);
  color: black;
}

.container .btn2 {
  position:absolute;
  text-align: center;
  font-size: 20px;
  background-color:rgb(7, 231, 37);
  border: 3px solid rgb(7, 231, 37);
  border-radius: 3px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: "color:#191919";
  display: inline-block;
  top:50%;
  left:48%;
  padding: 15px 27px;

 
}

.container .btn2:hover {
  background-color: rgb(142, 247, 94);
  color: black;
}


.container .form-popup {
  display: none;
  position: fixed;
  border-radius: 3px;
  top:35%;
  left:39%;
  border: 3px solid rgb(7, 231, 37);
  z-index: 9;
  background-color: white;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}



/* Full-width input fields */
.form-container input[type=text] {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  font-family: 'Times New Roman', Times, serif;
  background-color: #ddd;
  outline: none;
}
.form-container .btn-cancel {
  margin-left:80%;
  position:absolute;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(7, 231, 37);
  font-family: 'Times New Roman', Times, serif;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover{
  opacity: 1;
}






@media only screen and (max-width: 480px){
  .modal-dialog{ width: 95% !important; }
  .modal-content .modal-body{
      padding: 60px 20px 40px !important;
  }
  
}



